/* Variables */
$mobile-width: 375px;
$desktop-width: 1440px;

$white: #fafafa;
$gray: #696969;
$black: #141414;

/* Pre settings */
body {
    margin: 0;
    padding: 0;
    
    font-style: 18px;
    font-family: 'Epilogue', sans-serif;
    line-height: normal;
    font-weight: 500;
    color: $gray;
}
  
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

/* Header */
.header {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto 110px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */

.logo {
    display: inline-block;
    margin-right: 50px;
}

/* Nav */
.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav__item {
    text-decoration: none;
    color: $gray;
    margin-right: 80px;

    &:last-child {
        margin: 0;
    }
}

/* Dropdown */

.dropdown {
    display: inline-block;
    position: relative;
    float: right;

    & .nav__item {
        position: relative;

        &::after {
            content: url('images/icon-arrow-down.svg');
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 105%;
            transform: translate(0, -50%);
        }
    }
}


.dropdown__inner {
    position: absolute;
    right: 0;
    z-index: 1000;

    overflow: auto;

    display: block;

    margin-top: 10px;
    border-radius: 10px;

    white-space: nowrap;
    padding: 5px 30px;
    
    box-shadow: 0px 0px 60px -5px rgba(34, 60, 80, 0.2);
}

.dropdown__item {
    display: block;

    padding: 15px 25px;
    padding-right: 0;

    position: relative;
    z-index: 1000;

    & img {
        position: absolute;
        right: 100%;
        transform: translate(50%, 0);
    }

    & a {
        text-decoration: none;
        color: $black;
    }
}

.auth {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.auth__item {
    margin-right: 30px;
    text-decoration: none;
    color: $gray;

    &:last-child {
        margin: 0;
    }
}

.auth__item--register {
    border-radius: 10px;
    border: $gray solid 2px;
    padding: 10px 20px;
}

/* Intro */

.intro {
    // height: 100vh;
}

.intro__inner {
    display: flex;
    justify-content: space-between;
    // flex: 1;

    align-items: center;
}

.intro__content {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.intro__title {
    color: $black;
    font-weight: 700;
    font-size: 74px;
    
    position: relative;
    z-index: -1;
}

.intro__text {
    width: 80%;
    line-height: 1.5;
    margin: 20px 0 40px;
}

.intro__image {
    width: 40%;
}

.intro__btn {
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    color: $white;

    padding: 15px 20px;
    border-radius: 10px;
    border: #000 solid 2px;

    margin-bottom: auto;
    align-self: flex-start;

    flex-grow: 1;

    transition: .2s linear background-color, color;
    &:hover {
        background-color: $white;
        color: $black;
    }
}

.brends {
    // position: absolute;
    // bottom: 0;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}